language: go

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

go:
  - 1.7
  - 1.8
  - master

env:
  global:
    - REDIS_CONSTR=redis://127.0.0.1:6379/0
    - MYSQL_DSN=root@(127.0.0.1:3306)/test?sql_mode=%27%27

services:
  - redis-server
  - mysql
